  body {
    margin: 0;
  }
  
  html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }
  
/* HEADER */

.websiteTitle {
  display: flex;
  background-color: #011827;
  align-items: flex-end;
  padding: 26px 27px;
}

  .websiteTitle > div {
    text-align: center;
    color: #ffffff;
  }

  .logo {
    width: 150px;
}

  .title {
    font-size: 78px;
    margin-left: 24px;
  }

  /* Mobile menu | Hamburger */
  #hamburger {
    display: none;
  }

/* NAVBAR */
  nav {
    display: flex;
    background-color: #011827;
    padding: 20px 27px;
    justify-content: space-evenly;
  }

  nav > a {
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    text-decoration: none;
  }

  nav a:hover {
    color: #8ACFE5;
  }

/* HERO */
  .hero {
    width: 100%;
  }

  .heroMobile {
    display: none;
  }

  .heroButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .heroButtons > button {
    font-size: 40px;
    margin-top: -50px;
    padding: 20px 60px;
    border-radius: 5px;
    border-style: none;
  }

  .heroButtons > button:nth-child(1) {
    background-color: #E3170A;
    color: white;
    font-weight: bold;
  }

  .heroButtons > button:nth-child(2) {
    background-color: #8ACFE5;
    color: black;
    font-weight: bold;
  }

  /* TESTIMONIALS */
  .testimonials {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .testimonials > img {
    object-fit: contain;
  }

  .testimonials > blockquote {
    width: 500px;
    font-size: 28px;
    margin-top: 100px;
  }

  blockquote > cite {
    font-size: 18px;
  }
 
/* POPULAR CHALLENGES */
.popularChallenges {
  margin-top: 50px;
}

.popularChallenges h2 {
  margin-bottom: 100px;
  font-size: 56px;
  text-align: center;
}

.challenges {
  display: flex;
  justify-content: space-evenly;
}

.challenges > div {
  height: 746px;
  width: 563px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cardImg {
  width: 100%;
}

.challenges h3 {
  margin-left: 30px;
  font-size: 44px;
}

.rating {
  width: 30%;
  transform: translate(30px, -30px)
}

.participants {
  font-size: 22px;
  margin-left: 395px;
  margin-top: -55px;
}

.description {
  font-size: 27px;
  width: 500px;
  margin-left: 30px;
}

.bookBtn {
  font-size: 24px;
  background-color: #E3170A;
  color: white;
  padding: 20px 50px;
  border-radius: 5px;
  border-style: none;
  margin-left: 250px;
  font-weight: bold;
}

.challengesButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.challengesButtons > button {
  font-size: 40px;
  margin-top: 100px;
  padding: 20px 60px;
  border-radius: 5px;
  border-style: none;
}

.challengesButtons > button:nth-child(1) {
  background-color: #E3170A;
  color: white;
  font-weight: bold;
}

.challengesButtons > button:nth-child(2) {
  background-color: #8ACFE5;
  color: black;
  font-weight: bold;
}

/* OUR STORY */
.ourStory {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #011827 ;
  height: 600px;
}

.storyText {
  margin: 0 auto;
  margin-top: 100px;
  color: #ffffff;
  font-size: 39px;
  text-align: center;
  width: 852px;
  height: 250px;
}

.readButton {
  margin-top: 50px;
  font-size: 32px;
  border-color: #8ACFE5;
  border-radius: 5px;
  background-color: #ffffff00;
  color: #8ACFE5;
  padding: 30px 70px;
  font-weight: bold;
}

/* FOUR SQUARES */
.twoSquares {
  display: flex;
  justify-content: center;
}

.squareImg1 {
  width: 50%;
}

.squareText {
  width: 50%;
}

.textBox {
  width: 600px;
  margin-left: 130px;
  margin-top: 100px;
}

.textBox h2 {
  font-size: 48px;
}

.textBox p {
  font-size: 38px;
}

.textBox button {
  font-size: 40px;
  padding: 20px 60px;
  border-radius: 5px;
  border-style: none;
  background-color: #E3170A;
  color: white;
  font-weight: bold;
}

.twoSquares2 {
  display: flex;
  justify-content: center;
}

.squareImg2 {
  width: 50%;
}

/* FOOTER */
footer {
  margin-top: 280px;
  background-color: #011827;
  height: 600px;
  display: flex;
  color: white;
}

.row1 {
  width: 500px;
  margin-left: 150px;
}

.row2 {
  width: 200px;
  margin-left: 400px;
}

.row3 {
  width: 200px;
  margin-left: 100px;
}

.rowText {
  font-size: 24px;
  margin-top: 180px;
}

.rowText a {
  text-decoration: none;
  color: white;
}

/* TEST BIG SCREEN */
@media only screen and (max-width: 1800px) {

  .challenges {
  zoom: 0.9;
  }

  .twoSquares {
  zoom: 0.9;
  }

  .twoSquares2 {
  zoom: 0.9;
  }
}

/* IF MOBILE */
@media only screen and (max-width: 480px) {
  html, body {
    width: 480px;
  }
  
  .logo {
    width: 128px;
    height: 92px;
    margin-left: -10px;
    transform: translateY(-15px);
  }

  .title {
    font-size: 24px;
    width: 78px;
    height: 84px;
    margin-left: 10px;
    transform: translateY(-15px);
  }
  /* IF MOBILE - NAVBAR */
  nav {
  display: none;
  }

  #hamburger {
    display: unset;
    margin-left: 170px;
    transform: translateY(-55px);
  }

  /* IF MOBILE - MOBILE MENU */
  .mobile-menu {
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    margin-top: -130px;
    display: none;
    width: 440px;
    height: 900px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    background-color: #011827;
    -webkit-animation: pop-in 0.2s;
    -moz-animation: pop-in 0.2s;
    -ms-animation: pop-in 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    box-shadow: 0px 0px 20px 0px #00000066;
  }

  @-webkit-keyframes pop-in {
    0% { opacity: 0; -webkit-transform: scale(0.9); }
    100% { opacity: 1; -webkit-transform: scale(1); }
    }
    @-moz-keyframes pop-in {
    0% { opacity: 0; -moz-transform: scale(0.9); }
    100% { opacity: 1; -moz-transform: scale(1); }
    }
    @keyframes pop-in {
    0% { opacity: 0; transform: scale(0.9); }
    100% { opacity: 1; transform: scale(1); }
    }

  #closeHamburger {
    margin-left: 320px;
    margin-top: 0px;
  }

  .mobile-menu ul {
    list-style-type: none;
    margin-left: -30px;
}

  .mobile-menu li {
    margin-bottom: 50px;
    transform: translateY(180px);
  }

  .mobile-menu a {
    text-decoration: none;
    color: white;
    text-align: center;
  }

  /* IF MOBILE - HERO */
  .hero {
    display: none;
  }

  .heroMobile {
    display: unset;
    width: 480px;
    height: 274px;
  }

  .heroButtons > button {
    font-size: 24px;
    margin-top: 50px;
    padding: 20px 50px;
    border-radius: 4px;
    border-style: none;
  }

  .heroButtons {
    display: block;
  }

  #heroBtn1 {
    color: #36769D;
    transform: translate(110px, 80px);
    background-color:rgba(0, 0, 0, 0);
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
  }

  #heroBtn2 {
    background-color: #8ACFE5;
    color: black;
    transform: translate(80px, -120px);
    font-weight: bold;
  }

  /* IF MOBILE - TESTIMONIALS */
  .testimonials {
    margin-top: -60px;
  }

  .quote2 {
    display: none;
  }

  .faceImg2 {
    display: none;
  }

  .faceImg1 {
    margin-top: -30px;
    width: 73px;
    margin-right: 15px;
  }

  .quote1 > em {
    font-size: 24px;
    transform: translateX(-0px);
  }

  .quote1 > cite {
    font-size: 17px;
    transform: translateX(-0px);
  }

  .testimonials > blockquote {
    width: 300px;
    margin-left: 1px;
  }

  /* IF MOBILE - POPULAR CHALLENGES */
  .popularChallenges h2 {
    font-size: 32px;
    text-align: center;
    margin-left: -20px;
  }

  .challenges > div:nth-child(2) {
    display: none;
  }

  .challenges > div:nth-child(3) {
    display: none;
  }

  .challenges {
    margin-top: -90px;
    zoom: 0.7;
  }

  .challengesButtons {
    display: block;
  }

  .challengesButtons > button {
    font-size: 24px;
    margin-top: 50px;
    padding: 20px 50px;
    border-radius: 4px;
    border-style: none;
  }

  .challengesButtons > button:nth-child(2) {
    
    border-style: none;
    background-color: #8ACFE5;
    color: black;
    transform: translate(80px, -120px);
    font-weight: bold;
  }
 
  .challengesButtons > button:nth-child(1) {
    border-style: none;
    color: #36769D;
    transform: translate(110px, 80px);
    background-color:rgba(0, 0, 0, 0);
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
  }

  /* IF MOBILE - OURSTORY */
  .ourStory {
    margin-top: 0px;
    padding-top: 10px;
    background-color: #011827 ;
    height: 500px;
  }
  
  .storyText {
    margin: 0 auto;
    margin-top: 100px;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    width: 439px;
    height: 234px;
  }
  
  .readButton {
    margin-top: 50px;
    font-size: 24px;
    border-color: #8ACFE5;
    border-radius: 5px;
    background-color: #ffffff00;
    color: #8ACFE5;
    padding: 20px 50px;
  }

  /* IF MOBILE - FOUR SQUARES */
  .twoSquares {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
  .squareImg1 {
    width: 100%;
  }
  
  .squareText {
    width: 440px
  }
  
  .textBox {
    width: 440px;
    margin-top: 40px;
    margin-left: 0px;
  
  }
  
  .textBox h2 {
    font-size: 32px;
  }
  
  .textBox p {
    font-size: 24px;
  }
  
  .textBox > button {
    font-size: 24px;
    padding: 20px 60px;
    border-radius: 5px;
    border-style: none;
    background-color: #E3170A;
    color: white;
    margin-bottom: 50px;
  }
  
  .twoSquares2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
  .squareImg2 {
    width: 100%;
    order: -1;
  }

  /* IF MOBILE - FOOTER */
  footer {
    margin-top: 50px;
    padding: 50px 0;
    background-color: #011827;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
  }
  
  .row1 {
    width: 439px;
    margin-left: 20px;
  }
  
  .row2 {
    width: 400px;
    margin-left: 20px;
  }
  
  .row3 {
    width: 400px;
    margin-left: 20px;
  }
  
  .rowText {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .rowText a {
    text-decoration: none;
    color: white;
  }